@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.0/font/bootstrap-icons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
$font-family-sans-serif: 'Poppins',
sans-serif;
$input-focus-border-color: #0092ee;
$border-radius-sm: .4rem;
$border-radius-lg: .5rem;
$border-radius: .50rem;
$btn-hover-border-shade-amount: 15%;
$btn-hover-border-tint-amount: 15%;
$btn-active-border-shade-amount: 20%;
$btn-active-border-tint-amount: 20%;
$input-btn-focus-width: 0px;
$link-decoration: none;
$alert-bg-scale: -70%;
$alert-color-scale: -70%;
$min-contrast-ratio: 2;
// $border-width: 1px;

$red:#f83f37;
$green:#22af47;
$pink:#ed1b60;
$purple:#ab26aa;
$violet:#6640b2;
$indigo:#3a55b1;
$blue:#0092ee;
$sky:#00acf0;
$cyan:#1ebccd;
$teal:#009b84;
$neon:#88c241;
$lime:#d0d962;
$sun:#fde335;
$yellow:#ffbf36;
$orange:#ff9528;
$pumpkin:#ff6028;
$brown:#7a5449;
$gold:#c1993f;
$grey:#9e9e9e;
$smoke:#5e7d8a;
$light:#f5f5f6;
$white:#fff;
